<!-- More information here: https://angular.io/api?type=pipe -->

<p>Title: {{ title | titlecase }}</p>
<hr />
<p>Today: {{ today | date: 'dd-MM-yyyy' }}</p>
<hr />
<!-- using custom pipe here -->
<p>Price: {{ price | currencyClone: 'INR':'1' }}</p>
<hr />
<p>Rate of Growth: {{ rateOfGrowth | percent: '2.2-2' }}</p>
<hr />
<p>Status: {{ status ? 'Yes' : 'No' }}</p>
<hr />
<p>Pi: {{ pi | number: '1.4' }}</p>
<hr />
<p>Method: {{ foo() | uppercase }}</p>
<hr />
<p>
  Expression evaluation:
  {{ (132 + (14 - 3) * 4) / (42 - 13) | number: '2.3-3' }}
</p>
